
@import url('https://fonts.googleapis.com/css?family=Ubuntu');


body,html{
	margin: 0 auto;
	font-family: 'Ubuntu', sans-serif;
}

.dsetem1{
	position: relative;
    background: #49244e;
    margin: 0px;
    padding: 0px;
}
.dsetem1 span{
	display: inline-block;
    background: #c7c7c7ab;
    padding: 0px 15px 0px 5px;
    position: relative;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
    border-radius: 3px;
    margin: 7px 5px;
    color: #fff;
    margin-bottom: 4px;
}
.dsetem1 i{
	position: absolute;
    right: 0px;
    top: 8px;
    font-size: 25px;
    font-style: normal;
}
.dsetem1 i.upper{
    color: #adeaad;
}
.dsetem1 i.lower{
    color: #f59e97;
}
.dsetem1 i.middle{
    color: #fff;
}
code{
	border-radius: 3px;
    padding: 1px 8px;
    color: #cfe098;
    font-size: 12px;
}
.dsetem-header{
	position: absolute;
    left: 0px;
    height: 100%;
    width: 10%;
    z-index: 11;
    background: #3a8c3e;
    text-align: center;
    align-items: stretch;
    align-content: center;
    display: grid;
    overflow: hidden;
    padding-left: 8px;
    color: #fff;
}
.dsetem-header:after{
	content: '';
    position: absolute;
    background: #b9d2b9;
    width: 5%;
    height: 100%;
    right: 0px;
    top: 0px;
}